{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carte</h1>

    <table>
        <tbody>
            <tr>
                <th>Reference</th>
                <td>{{ carte.reference }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ carte.idClient }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ carte.marque }}</td>
            </tr>
            <tr>
                <th>Ptfidelite</th>
                <td>{{ carte.ptFidelite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carte_edit', { 'id': carte.reference }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
