<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<!-- Mirrored from themeebit.com/demos/html/materialab-v2.01/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2016 14:13:20 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome_Admin</title>
    <script>
        if ( top !== self ) top.location.replace( self.location.href );
    </script>
    <!-- ====Google font==== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{{asset('csss/style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <!-- ====Open Sans==== -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <!-- ====Bootstrap css==== -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">

    <!-- ====Material==== -->
    <link rel="stylesheet" href="{{asset('css/mdb.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/material-design-iconic-font.min.css')}}">

    <!-- ====Font awesome css==== -->
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">

    <!-- ====Animate css==== -->
    <link rel="stylesheet" href="{{asset('css/animate.css')}}">

    <!-- ====Meanmenu css==== -->
    <link rel="stylesheet" href="{{asset('css/meanmenu.min.css')}}">

    <!-- ====VenoBox css==== -->
    <link rel="stylesheet" href="{{asset('css/venobox.css')}}">

    <!-- ====Owl carousel 2 css==== -->
    <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">

    <!-- ====Custom css==== -->
    <link rel="stylesheet" href="{{asset('style.css')}}">
    <link rel="stylesheet" href="{{asset('design.css')}}">



    <!-- ====Favicons==== -->
    <link rel="apple-touch-icon-precomposed" href="{{asset('img/favicon_app.png')}}">
    <link rel="shortcut icon" type="image/png" href="{{asset('img/favicon.png')}}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{asset('js/html5shiv.min.js')}}"></script>
    <script src="{{asset('js/respond.min.js')}}"></script>
    <![endif]-->
</head>

<body id="body" class="onepage home-1">
<!-- ==== PRELOADER START==== -->

<!-- ====PRELOADER END==== -->

<!-- ====COLOR DEMO START==== -->
<div class="colorDemo open">
    <i class="fa fa-cogs icon-tools-2" aria-hidden="true"></i>
    <h3>Pick Your Color</h3>
    <ul>
        <li class="active" data-color="index-1">
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
        </li>
        <li data-color="home-2">
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
        </li>
        <li data-color="home-3">
                    <span>
                        <i class="fa fa-check"></i>
                    </span>
        </li>
    </ul>
</div>
<!-- ====COLOR DEMO END==== -->

<!-- ====HEADER START==== -->
<header class="header_area navbar hidden-xs">
    <div class="container-fluid">
        <div class="row top_menu_area">
            <div class="col-xs-12 col-sm-3">
                <!-- START LOGO AREA -->
                <div class="logo_area">
                    <a href="index.html">
                        <img src="{{asset('img/logo.png')}}" alt="theme logo" class="main_logo svg">
                    </a>
                </div>
                <!-- END LOGO AREA -->
            </div>
            <div class="col-xs-12 col-sm-9">
                <!-- START MENU AREA -->
                <nav class="navbar-collapse collapse in">
                    <ul class="nav navbar-nav navbar-right menu">
                        <li class="smoth-scroll active">
                            <a data-hover="Home" href="{{ path('ouvrier_index') }}">Home</a>

                        </li>
                        <li class="smoth-scroll">
                            <a data-hover="Services" href="#services">Services</a>
                        </li>
                        <li class="smoth-scroll">
                            <a data-hover="ABOUT" href="#about">About</a>
                        </li>


                        <li class="smoth-scroll">
                            <a data-hover="Contact US" href="#contact">Contact US</a>
                        </li>
                    </ul>
                </nav>
                <!-- END MENU AREA -->

                <!-- Mobile Menu Start -->
                <nav class="mobile_menu hidden">
                    <ul>
                        <li class="smoth-scroll">
                            <a href="#body">Home</a>

                        </li>
                        <li class="smoth-scroll">
                            <a href="#services">Services</a>
                        </li>
                        <li class="smoth-scroll">
                            <a href="#about">About</a>
                        </li>

                        <li class="smoth-scroll">
                            <a href="#blog">Blog</a>
                            <ul>
                                <li>
                                    <a href="blog_grid.html">Blog Grid</a>
                                </li>
                                <li>
                                    <a href="blog-left_sidebar.html">Blog Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-right_sidebar.html">Blog Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="single_blog-full.html">Single Blog Full</a>
                                </li>
                                <li>
                                    <a href="single_blog-left_sidebar.html">
                                        Single Blog Left Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a href="single_blog-right_sidebar.html">
                                        Single Blog Right Sidebar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="smoth-scroll">
                            <a href="#contact">Contact US</a>
                        </li>
                    </ul>
                </nav>
                <!-- Mobile Menu End -->
            </div>
        </div>
    </div>
</header>
<!-- ====HEADER END==== -->

<!-- ====SLIDER START==== -->
<section class="slider_area">
    <div class="slider_left_bg">
        <div class="container">
            <div class="mainSlider">
                <div class="row">
                    <div class="col-md-8">
                        <div class="dtable">
                            <div class="dcell">
                                <div class="slider_caption text-left">
                                    <h4 class="fadeInDown_slide animated" style="animation-delay: .1s">Welcome to</h4>
                                    <h1 class="fadeInUp_slide animated" style="animation-delay: .4s">Tunisia Mall</h1>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="dtable">
                            <div class="dcell">
                                <div class="slider_caption text-left">
                                    <h4 class="fadeInLeft_slide animated" style="animation-delay: .1s">Hi </h4>
                                    <h1 class="fadeInRight_slide animated" style="animation-delay: .4s"> Admin</h1>



                                </div>
                            </div>

                        </div>
                    </div>
</section>
<!-- ====SLIDER END==== -->

<!-- ====FEATURE AERE==== -->

<section class="feature_area" id="services">
    {% block formulaire %}
        <div class="container">
            <div class="row fix_m">

                <div class="col-xs-12 col-sm-6 col-md-3 fix_p">

                    <div class="single_feature text-center">
                        <i class="zmdi zmdi-devices"></i>
                        <h4>Gestion Local</h4>
                        <div class="single_cap">
                            <p>Notre Mall contient plusieurs locaux</p>
                            <a class="th_bt btn waves-effect" href="{{ path('local_index') }}">Voir Locaux</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 fix_p">
                    <div class="single_feature text-center">
                        <i class="zmdi zmdi-male"></i>
                        <h4>Gestion ouvrier</h4>
                        <div class="single_cap">
                            <p>Consulter nos ouvvriers</p>
                            <a class="th_bt btn waves-effect" href="{{ path('ouvrier_index') }}">Gestion Ouvriers</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    {% endblock %}
</section>



<!-- ====FEATURE AERE END==== -->

<!-- ====ABOUT US==== -->
<section id="about" class="about_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="about_left">
                    <img src="{{asset('img/about_left.png')}}" alt=""/>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ====ABOUT US==== -->

<!-- ====START PROJECT AREA==== -->
<section class="project_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_fact text-center">
                    <div class="fact_icon">
                        <div class="RXcircleEffect"></div>
                        <i class="zmdi zmdi-balance"></i>
                    </div>
                    <h2><span class="counter">100</span>+</h2>
                    <p>Magasins</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_fact text-center">
                    <div class="fact_icon">
                        <div class="RXcircleEffect"></div>
                        <i class="zmdi zmdi-case"></i>
                    </div>
                    <h2><span class="counter">50</span>+</h2>
                    <p>Responsables</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_fact text-center">
                    <div class="fact_icon">
                        <div class="RXcircleEffect"></div>
                        <i class="zmdi zmdi-palette"></i>
                    </div>
                    <h2><span class="counter">40</span>+</h2>
                    <p>Marques</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_fact text-center">
                    <div class="fact_icon">
                        <div class="RXcircleEffect"></div>
                        <i class="zmdi zmdi-accounts"></i>
                    </div>
                    <h2><span class="counter">89500</span></h2>
                    <p>Happy clients</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====END START PROJECT AREA==== -->

<!-- ====PROTFOLIO AREA==== -->

<!-- ====END PROTFOLIO AREA==== -->

<!-- ====START WHY CHOOSE==== -->

<!-- ====END WHY CHOOSE==== -->

<!-- ====START SERVICE AREA==== -->

<!-- ====END SERVICE AREA==== -->

<!-- ====START SOCIAL LINK==== -->

<!-- ====END SOCIAL LINK==== -->

<!-- ====START OUR TEAM AREA==== -->

<!-- ====START OUR TEAM AREA==== -->

<!-- ====START PROCESS TABLE==== -->

<!-- ====END PROCESS TABLE==== -->

<!-- ====START SKILL AND VEDIO TABLE==== -->
<section class="skill_and_video">
    <div class="video_area">
        <div class="video_control">
            <div class="dtable">
                <div class="dcell">
                    <a href="https://www.youtu.be/watch?v=3Xn2H2pQuLQ" data-type="youtube" id="control" class="btn waves-effect waves-light veno">
                        <i class="zmdi zmdi-play"></i>
                    </a>
                    <h4>Check out the Video</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container fix_p">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-5 col-sm-7 section-padding skillBg">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">

                    </div>
                    <div class="col-md-3 col-xs-6">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====END SKILL AND VEDIO TABLE==== -->

<!-- ====START PRICING TABLE==== -->

<!-- ====END PRICING TABLE==== -->

<!-- ====START CLIENT PART==== -->

<!-- ====END CLIENT PART==== -->

<!-- ====START PARTNER==== -->
<div class="partner_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="partner_slider">
                    <div class="item">
                        <img src="{{asset('img/logo-paul-en-shark.jpg')}}" alt="partner slider" />
                    </div>
                    <div class="item">
                        <img src="{{asset('img/tommy_hilfiger_logo14.jpg')}}" alt="partner slider" />
                    </div>
                    <div class="item">
                        <img src="{{asset('img/98c6f63f30b8b438a23355e0eca88aeb_large.jpeg')}}" alt="partner slider" />
                    </div>
                    <div class="item">
                        <img src="{{asset('img/logo-tods.jpg')}}" alt="partner slider" />
                    </div>
                    <div class="item">
                        <img src="{{asset('img/maxresdefault.jpg')}}" alt="partner slider" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====END PARTNER==== -->

<!-- ====START BLOG TABLE==== -->

<!-- ====END BLOG TABLE==== -->

<!-- ====START SUBSCRIBE==== -->

<!-- ====END SUBSCRIBE==== -->

<!-- ====START CONTACT AREA==== -->
<section id="contact" class="map-area">
    <div class="contact_google_map">
        <div id="contactgoogleMap"></div>
    </div>
    <div class="contact-area">
        <div class="container">
            <div class="contact_text col-md-6">
                <div class="section_title">

                    <p>feel free to contact us with any questions</p>
                </div>
                <form action="http://themeebit.com/demos/html/materialab-v2.01/mail-process.php" method="post">
                    <div class="row jsSubmit_button">
                        <div class="input-field col-md-6">
                            <input id="contact_name" type="text" class="validate" name="your_name" required>
                            <label for="contact_name">
                                <i class="zmdi zmdi-account"></i>Your Name
                                <span>*</span>
                            </label>
                        </div>
                        <div class="input-field col-md-6">
                            <input id="contact_email" type="email" class="validate" name="your_mail" required>
                            <label for="contact_email"><i class="zmdi zmdi-email"></i>Your Email
                                <span>*</span>
                            </label>
                        </div>
                        <div class="input-field col-md-12">
                            <textarea id="textarea1" name="your_text" class="materialize-textarea" required></textarea>
                            <label for="textarea1"><i class="zmdi zmdi-border-color"></i>Your Massage
                                <span>*</span>
                            </label>

                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="th_bt btn waves-effect" name="submit_btn">
                                send<i class="zmdi zmdi-mail-send"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ====END CONTACT==== -->

<!-- ====START SOCIAL Link==== -->
<div class="footer_social">
    <div class="container-fluid">
        <div class="row">
            <ul class="ft_top clearfix">
                <li class="waves-effect waves-light">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="zmdi zmdi-facebook "></i>Facebook
                    </a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="https://twitter.com/" target="_blank">
                        <i class="zmdi zmdi-twitter"></i>Twitter
                    </a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="https://www.flickr.com/" target="_blank">
                        <i class="zmdi zmdi-flickr"></i>Flickr
                    </a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="https://www.linkedin.com/" target="_blank">
                        <i class="zmdi zmdi-linkedin"></i>LinkedIn
                    </a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="https://dribbble.com/" target="_blank">
                        <i class="zmdi zmdi-dribbble"></i>Dribble
                    </a>
                </li>
                <li class="waves-effect waves-light">
                    <a href="www.vimeo.com/" target="_blank">
                        <i class="zmdi zmdi-vimeo"></i>Vimeo
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ====END FOOTER TOP==== -->

<!-- ====START FOOTER AREA==== -->
<footer class="footer_area">
    <div class="footer_middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="scroll_area">
                        <div class="sroll_top">
                            <i class="zmdi zmdi-chevron-up btn waves-effect"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-7">
                    <div class="footer_Widgets">
                        <h4>Stay in touch</h4>
                        <div class="ft_contact">
                            <ul>
                                <li><i class="zmdi zmdi-pin"></i>
                                    <span>Z.I. Chotrana II B.P. 160، Pôle Technologique El Ghazela، Ariana 2088</span>
                                </li>
                                <li><i class="zmdi zmdi-phone"></i>
                                    <a href="tel:123-456-7890">70 685 685</a>
                                </li>
                                <li><i class="zmdi zmdi-email"></i>
                                    <a href="mailto:contact@domain.com">ahmed.yahyaoui@esprit.tn</a>
                                </li>
                                <li><i class="zmdi zmdi-globe"></i>
                                    <a href="#">www.Sis-am.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5">
                    <div class="footer_Widgets">
                        <h4>Galleries</h4>

                        <figure class="widget_gallery">
                            <div class="RXcircleEffect"></div>
                            <img src="{{asset('img/24.jpg')}}" alt="" />
                            <figcaption>
                                <a class="veno vbox-item" href="{{asset('img/24.jpg')}}" data-gall="group_4">
                                    <i class="zmdi zmdi-link"></i>
                                </a>
                            </figcaption>
                        </figure>
                        <figure class="widget_gallery">
                            <div class="RXcircleEffect"></div>
                            <img src="{{asset('img/the-florida-mall-03.jpg')}}" alt="" />
                            <figcaption>
                                <a class="veno vbox-item" href="{{asset('img/the-florida-mall-03.jpg')}}" data-gall="group_4">
                                    <i class="zmdi zmdi-link"></i>
                                </a>
                            </figcaption>
                        </figure>
                        <figure class="widget_gallery">
                            <div class="RXcircleEffect"></div>
                            <img src="{{asset('img/img_directory_1.jpg')}}" alt="" />
                            <figcaption>
                                <a class="veno vbox-item" href="{{asset('img/img_directory_1.jpg')}}" data-gall="group_4">
                                    <i class="zmdi zmdi-link"></i>
                                </a>
                            </figcaption>
                        </figure>
                        <figure class="widget_gallery">
                            <div class="RXcircleEffect"></div>
                            <img src="{{asset('img/shopping_malls_oohmedia.jpg')}}" alt="" />
                            <figcaption>
                                <a class="veno vbox-item" href="{{asset('img/shopping_malls_oohmedia.jpg')}}" data-gall="group_4">
                                    <i class="zmdi zmdi-link"></i>
                                </a>
                            </figcaption>
                        </figure>
                        <figure class="widget_gallery">
                            <div class="RXcircleEffect"></div>
                            <img src="{{asset('img/ambient_1-copy.jpg')}}" alt="" />
                            <figcaption>
                                <a class="veno vbox-item" href="{{asset('img/ambient_1-copy.jpg')}}" data-gall="group_4">
                                    <i class="zmdi zmdi-link"></i>
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="ft_area">
                <div class="row">
                    <div class="col-md-7 fix_p_l">
                        <nav>
                            <ul class="ft_bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#"> About </a></li>

                                <li><a href="#">Contact US</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ====END FOOTER AREA==== -->

<!-- ====jQuery Latest version==== -->
<script src="{{asset('js/vendor/jquery-1.12.0.min.js')}}"></script>

<!-- ====Google Maps API==== -->
<script src="https://maps.googleapis.com/maps/api/js?AIzaSyDratb22mX3k9_MisjuL7q1dIKlDg-D4qc"></script>

<!-- ====Material==== -->
<script src="{{asset('js/mdb.min.js')}}"></script>

<!-- ====Bootstrap JS==== -->
<script src="{{asset('js/bootstrap.min.js')}}"></script>

<!-- ====jQuery Counterup==== -->
<script src="{{asset('js/waypoints.min.js')}}"></script>
<script src="{{asset('js/jquery.counterup.min.js')}}"></script>

<!-- ====jQuery Meanmenu==== -->
<script src="{{asset('js/jquery.meanmenu.min.js')}}"></script>

<!-- ====jQuery easing==== -->
<script src="{{asset('js/jquery.easing.1.3.min.js')}}"></script>

<!-- ====jQuery owl carousel==== -->
<script src="{{asset('js/owl.carousel.min.js')}}"></script>

<!-- ====jQuery parallax==== -->
<script src="{{asset('js/jquery.parallax-1.1.3.js')}}"></script>

<!-- ====jQuery isotop==== -->
<script src="{{asset('js/isotope.pkgd.min.js')}}"></script>

<!-- ====jQuery Packery==== -->
<script src="{{asset('js/packery.js')}}"></script>

<!-- ====jQuery VenoBox==== -->
<script src="{{asset('js/venobox.min.js')}}"></script>

<!-- ====jQuery appear and knob==== -->
<script src="{{asset('js/jquery.knob.min.js')}}"></script>

<!--Opacity & Other IE fix for older browser-->
<!--[if lte IE 8]>
<script type="text/javascript" src="{{asset('js/ie-opacity-polyfill.js')}}"></script>
<![endif]-->

<!-- ====jQuery main script==== -->
<script src="{{asset('js/main.js')}}"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="venobox/venobox.css" type="text/css" media="screen" />
<script type="text/javascript" src="venobox/venobox.min.js"></script>
<script src="{{asset('jss/index.js')}}"></script>

</body>

<!-- Mirrored from themeebit.com/demos/html/materialab-v2.01/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2016 14:13:20 GMT -->
</html>